/* Styles for Design 1 */

.su-nav {
    background: #aa0000;

    .navbar.navbar-suglobal {
        min-height: 20px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 300;

        .dropdown-menu.su-global-mm {
            background: #eee;
            border-radius: 0;
            box-shadow: none;
            border: none;

            .border-right {
                border-right: 1px solid rgba(0,0,0,0.3);
            }
            .menu-container {
                display: block;
                clear: both;
                padding: 2rem 2rem 5px 2rem;
                width: 100%;
                z-index: 1;
                background: #eee;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    margin-top: -5px;
                    width: 100%;
                    height: 30px;
                    background: #ccc;
                    -webkit-transform: skewY(-0.5deg);
                    -moz-transform: skewY(-0.5deg);
                    -ms-transform: skewY(-0.5deg);
                    -o-transform: skewY(-0.5deg);
                    transform: skewY(-0.5deg);
                    -webkit-backface-visibility: hidden;
                    z-index: -1;
                    border-bottom: $brand-red solid 5px;
                }
            }

            .su-logo-img {
                display: inline-block;
                height: 60px;
                width: 200px;
                background: url('../images/su-logo-lg.png') left center no-repeat;
                background-size: contain;
                text-indent: 300px;
                overflow: hidden;
                white-space: nowrap;
                margin-top: 2rem;
            }

            input {
                padding: 0.5rem;
                font-size: 1.8rem;
                font-weight: 300;
                color: $gray-light;
                display: inline-block;
                width: 100%;
                margin: 1rem 0;

                &:focus {
                    color: $gray;
                }
            }

            ul {
                padding: 0;
                list-style-type: none;
                font-size: 1.8rem;
                font-weight: 300;

                li {
                    margin: 1rem 0;
                }

                &.suglobal-submenu-icons {
                    font-size: 1.5rem;

                    .fa {
                        margin-right: 10px;
                    }
                }
            }
            a, a:visited, a:link {
                color: $gray;
            }
            a:hover, a:focus, a:active {
                color: $brand-red;
                text-decoration: none;
            }

        }
        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background: transparent;
        }
        .nav-pills > li > a {
            border-radius: 0;

            &:hover, &:focus {
                background: transparent;
                color: $brand-yellow;
                text-decoration: none;
            }
            a, a:visited, a:link {
                color: white;
            }
            a:hover, a:focus, a:active {
                color: $brand-yellow;
                text-decoration: none;
            }
        }
        .nav > li > a {
            padding: 0 10px;

            &:hover, &:focus {
                background: transparent;
                color: $brand-yellow;
                text-decoration: none;
            }
            a, a:visited, a:link {
                color: white;
            }
            a:hover, a:focus, a:active {
                color: $brand-yellow;
                text-decoration: none;
            }
        }
        a, a:visited, a:link {
            color: white;
        }
        a:hover, a:focus, a:active {
            color: $brand-yellow;
            text-decoration: none;
        }
    }
}
.navbar-ncs {
    border-radius: 0;
    border: none;
    background: $gray;
    min-height: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #666;

    ul {
        padding: 0;
        list-style-type: none;
        font-size: 1.5rem;
        font-weight: 300;

        li {
            white-space: nowrap;
        }

        ul.links li {
            padding: 0.5rem 0;
            font-size: 1.5rem;
            font-weight: 500;
            white-space: nowrap;
        }

        ul.links ul {
            padding-left: 2rem;
            font-weight: 300;

            li {
                font-size: 1.3rem;
            }
        }
    }

    a, a:visited, a:link {
        color: white;
    }
    a:hover, a:active {
        color: $brand-red;
        text-decoration: none;
    }
    .nav .open a, .nav .open a:visited, .nav .open a:link {
        color: $gray;
    }
    .nav .open a:hover, .nav .open a:active {
        color: $brand-red;
    }
    .nav li a:focus {
        color: $brand-red;
    }
    .dropdown-menu, .dropdown-menu:focus {
        background: #eee;
        color: $gray;
        border: transparent solid 2px;
        border-radius: 0;
        box-shadow: none;
    }
    .dropdown-toggle {
        border: transparent solid 2px;
    }
    .open {
        .dropdown-toggle, .dropdown-toggle:focus, .dropdown-toggle:hover {
            z-index: 10;
            border-color: #eee;
            border-top: $brand-red solid 2px;
            border-left: $brand-red solid 2px;
            border-right: $brand-red solid 2px;
            border-bottom: #eee solid 2px;
        }
        .dropdown-menu {
            z-index: 5;
            margin-top: -2px;
            border-top: $brand-red solid 2px;
            border-left: $brand-red solid 2px;
            border-right: $brand-red solid 2px;
            border-bottom: $brand-red solid 2px;
        }
    }
    a.navbar-brand {
        &:hover, &:link, &:active, &:visited {
            background-color: transparent;
        }
    }

    .brand-heading {
        margin: 0px !important;
    }
    .navbar-brand {
        background: url(../images/ncs_redwhite.png) no-repeat;
        background-position: left center;
        background-size: contain;
        margin: 5px 0px !important;
        display: inline-block;
        height: 65px;
        width: 250px;
        text-indent: 300px;
        overflow: hidden;
        white-space: nowrap;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        margin-top: -50px;
        width: 100%;
        height: 60px;
        background: #666;
        -webkit-transform: skewY(-0.5deg);
        -moz-transform: skewY(-0.5deg);
        -ms-transform: skewY(-0.5deg);
        -o-transform: skewY(-0.5deg);
        transform: skewY(-0.5deg);
        -webkit-backface-visibility: hidden;
        z-index: -1;
    }
}

.footer {
    margin-top: 60px;
    padding: 2rem;
    background: $gray;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    a, a:visited, a:link {
        color: white;
    }
    a:hover, a:active {
        color: $brand-yellow;
        text-decoration: none;
    }
    .brand-logo {
        width: 100%;
        height: 65px;
    }
    .navbar-brand {
        background: url(../images/ncs_redwhite.png) no-repeat;
        background-position: left center;
        background-size: contain;
        margin: 5px 0px !important;
        display: inline-block;
        height: 65px;
        width: 250px;
        text-indent: 300px;
        overflow: hidden;
        white-space: nowrap;
    }
    address {
        clear: both;
        margin: 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .social-links ul {
        padding-left: 0 !important;

        li {
            display: inline;
            a, a:hover, a:link, a:active, a:visited, a:focus {
                text-decoration: none;
            }
        }
    }
    .request-info {
        padding-top: 2rem;
        .heading {
            white-space: normal;
            font-size: 1.8rem;
            font-weight: 500;
            color: $brand-yellow;
        }
        form {
            margin: 1.5rem 0 1.5rem 0;
            input, textarea {
                width: 100%;
                color: $gray;
                padding: 1rem 0.5rem;
                margin-bottom: 2rem;
                border: transparent 1px solid;

                &.email {
                    width: 100%;
                    display: block;
                }
                &.name {
                    width: 48%;
                    display: inline-block;
                }

                &:focus {
                    border: $brand-yellow 1px solid;
                    outline: none;
                }
            }
        }

    }
    .footer-nav {
        list-style: none;
        padding-left: 0;

        li {
            margin-top: 0.5rem;
            white-space: nowrap;
            font-weight: 500;
        }

        ul {
            list-style-type: none;
            padding-left: 2rem;

            li {
                font-weight: 300;
                margin-top: 0.2rem;
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        margin-top: -40px;
        width: 100%;
        height: 60px;
        background: #666;
        border-top: 8px solid $brand-red;
        -webkit-transform: skewY(-1.5deg);
        -moz-transform: skewY(-1.5deg);
        -ms-transform: skewY(-1.5deg);
        -o-transform: skewY(-1.5deg);
        transform: skewY(-1.5deg);
        -webkit-backface-visibility: hidden;
    }
}

.yamm .dropdown-menu {
    left: auto;
    right: auto;

    &.bump-left {
        right: 0;
    }
}
