/* Utility classes */

.border-right {
    border-right: 1px solid rgba(255,255,255,0.3);
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.remove-pad {
    padding: 0;
}
.set-rel {
    position: relative;
    z-index: 1;
}
.bump-left {
    margin-left: -10px;
}